* {
  font-family: sans-serif;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background-color: #dbe4ff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  max-width: 3000px;
  margin-bottom: 2px;
}

.container-input {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto 10px;
}

.container-input span {
  color: #ad93f8;
  font-size: 22px;
  margin-bottom: 8px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 5px;
  background: #fff;
  height: 22px;
  outline: none;
  margin: 10px auto;
  display: block;
}

.button-cta {
  height: 40px;
  background-color: #ad93f8;
  border: 0;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
  margin: 10px auto;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  display: block;
}

.container-password {
  max-width: 400px;
  margin: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.title {
  text-align: center;
  color: #ad93f8;
  font-size: 28px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.password {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.836);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ad93f8;
  width: 100%;
  border: 1px solid #ad93f8;
  transition: transform 0.5s;
}

.password:hover {
  transform: scale(1.05);
}

.tooltip {
  color: #ad93f8;
  position: relative;
  top: 20px;
  padding: 6px 8px;
  background: rgba(255, 255, 255, 0.836);
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.hide {
  display: none;
}

.container-password:hover .tooltip {
  visibility: visible;
  bottom: 50px;
  opacity: 1;
}

@media (max-width: 500px) {
  .container-input {
    width: 100%;
    padding: 10px 10px;
  }

  .container-password {
    padding: 20px 20px;

    .title {
      font-size: 25px;
    }
  }
}
